.container {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.header {
  height: 48px;
  display: grid;
  grid-template-columns: 300px 1fr 12px;
}
.datesScroll {
  width: calc(100vw - 592px);
  overflow: hidden;
}
.dates {
  width: fit-content;
  display: flex;
}
.dateEnd {
  border-left: 1px solid #f2f2f2;
}
.scrollYContainer {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: calc(100vh - 228px);
  overflow-y: scroll;
}
.scrollYContainer::-webkit-scrollbar {
  width: 12px;
  border-left: 1px solid #f2f2f2;
  border-top: 1px solid #f2f2f2;
}
.scrollYContainer::-webkit-scrollbar-thumb {
  width: 12px;
  border-radius: 6px;
  background-color: #dadce0;
}
.fullnameTitle {
  background-color: #f2f2f2;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.fullname {
  background-color: #f2f2f2;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-top: 1px solid #fff;
}
.scrollXContainer {
  position: relative;
  width: calc(100vw - 592px);
  overflow-x: scroll;
  overflow-y: hidden;
}
.scrollXContainer::-webkit-scrollbar {
  display: none;
}
.scrollX {
  height: 12px;
  display: grid;
  grid-template-columns: 300px 1fr 12px;
}
.scrollXInner {
  border-top: 1px solid #f2f2f2;
}
.scrollXEnd {
  border-left: 1px solid #f2f2f2;
  border-top: 1px solid #f2f2f2;
}
.record {
  width: fit-content;
}
.recordCell {
  width: 150px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
}
