.container {
  position: relative;
  width: 412px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.slider {
  position: absolute;
  top: 6px;
  left: 6px;
  height: 40px;
  width: 200px;
  background-color: #fbb532;
  border-radius: 6px;
  transition: 300ms;
}
.options {
  position: absolute;
  width: fit-content;
  display: flex;
}
.option {
  height: 48px;
  width: 200px;
  display: flex;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 300ms;
}
