.container {
  width: 100%;
  height: 100%;
  padding: 20px;
}

/* Header */

.header {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}
.classroom {
  flex: 1;
  display: flex;
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.row {
  flex: 1;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
