.container {
  padding: 20px;
  display: grid;
  grid-template-rows: 80px 1fr;
}
.header {
  width: 100%;
  margin-bottom: 20px;
}
.backButton {
  width: 40px;
  height: 60px;
  background-color: #f2f2f2;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
}
.addStudentButton {
  height: 60px;
  border-radius: 6px;
  width: 150px;
  margin-left: 10px;
}
.classroom {
  flex: 1;
  display: flex;
  background-color: #f2f2f2;
  border-radius: 6px;
  overflow: hidden;
}
.row {
  flex: 1;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
