.container {
  height: 100%;
  width: 100%;
  display: flex;
}
.imageContainer {
  height: 100%;
  flex: 1;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formContainer {
  width: 768px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.form {
  width: 400px;
}
